@charset "UTF-8";

#wrap {
	width: 971px;
	margin: 0 auto;
}

h1 {
	color: purple;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
	line-height: 24px;
	background: #ffeefc;
}

table td, th {
	border: #d3d3d3 solid 1px;
	padding: 5px;
}

th {
	background: #ffa8a8;
	width: 120px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: rgb(255, 128, 192);
}

img {
	width: 220px;
	height: 300px;
}

input[type=submit] {
	width: 70px;
	height: 30px;
	background-color: #FF6A00;
	border: 1px solid #FFFFFF;
	border-radius: 30px;
	box-shadow: 5px 5px 5px #ff8080;
}

input[type=reset] {
	width: 70px;
	height: 30px;
	background-color: #FF6A00;
	border: 1px solid #FFFFFF;
	border-radius: 30px;
	box-shadow: 5px 5px 5px #ff8080;
}

input[type=button] {
	width: 100px;
	height: 30px;
	background-color: #FF6A00;
	border: 1px solid #FFFFFF;
	border-radius: 30px;
	box-shadow: 5px 5px 5px #ff8080;
}
